<br>
<h2 class="center">Класифікація загроз</h2>
<br>
<table class="table table-bordered border-dark">
  <thead>
  <tr class="table-dark">
    <th scope="col">Природа виникнення</th>
    <th scope="col">Принцип НСД</th>
    <th scope="col">Мета НСД</th>
    <th scope="col">Причини появи</th>
    <th scope="col">Характер впливу</th>
    <th scope="col">Режим НСД</th>
    <th scope="col">Місцезнаходження джерела НСД</th>
    <th scope="col">Наявність зворотнього звʼязку</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul>
        <li>Природні загрози</li>
        <li>Штучні загрози</li>
      </ul>
    </td>
    <td>
      <ul>
      <li>Фізичний доступ</li>
      <li>Логічний доступ</li>
    </ul>
    </td>
    <td>
      <ul>
        <li>Порушення конфіденційності</li>
        <li>Порушення цілісності</li>
        <li>Порушення доступності</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Недоліки політики безпеки</li>
        <li>Помилки адміністративного керування</li>
        <li>Недоліки алгоритмів захисту</li>
        <li>Помилки реалізації алгоритмів захисту</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Активний (внесення змін в АС)</li>
        <li>Пасивний (спостереження)</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>За постійної участі людини</li>
        <li>Без особистої участі</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Внутрішньосегментне</li>
        <li>Міжсегментне</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Зі зворотнім звяʼзком</li>
        <li>Без зворотнього звяʼязку</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
