<br>
<h2 class="center">Характеристика внутрішніх загроз</h2>
<br>
<table class="table table-bordered border-dark">
  <thead>
  <tr class="table-dark">
    <th scope="col">Типи атак</th>
    <th scope="col">Канали витоку</th>
    <th scope="col">Причини вразливостей</th>
    <th scope="col">Складові інформаційної безпеки</th>
    <th scope="col">Методи протидії</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul>
        <li>Підкуп осіб з безпосереднім доступом до ІБ</li>
        <li>Розкриття даних з необережності</li>
        <li>Втрата флешок чи інших носіїв інформації</li>
        <li>Навмисна крадіжка інформації</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Інсайдери</li>
        <li>Пряме копіювання</li>
        <li>Знімання інформації</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Відсутність системи розмежування доступу до інформації</li>
        <li>Відсутність системи аудиту та моніторингу</li>
        <li>Відсутність систем анривірусного захисту</li>
        <li>Відсутність систем сигналізації</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Безпека інформаційних ресурсів</li>
        <li>Безпека інформаційної інфраструктури</li>
        <li>Безпека "Інформаційного поля"</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Міжмережеві канали</li>
        <li>Системи виявлення втручань</li>
        <li>Системи запобігання вторгненням</li>
        <li>Віртуальні приватні мережі</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
