<br>
<h2 class="center">Характеристика зовнішніх загроз</h2>
<br>
<table class="table table-bordered border-dark">
  <thead>
  <tr class="table-dark">
    <th scope="col">Типи атак</th>
    <th scope="col">Канали витоку</th>
    <th scope="col">Причини вразливостей</th>
    <th scope="col">Складові інформаційної безпеки</th>
    <th scope="col">Методи протидії</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul>
        <li>Приховані канали</li>
        <li>Прибирання сміття</li>
        <li>Люки</li>
        <li>Аналіз трафіку</li>
        <li>Підробка TCP/IP</li>
        <li>Соціальна інженерія</li>
        <li>Фішинг</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Повітряні</li>
        <li>Еелектроакустичні</li>
        <li>Вібраційні</li>
        <li>Параметричні</li>
        <li>Оптико-електронні (лазерні)</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Відсутність належної безпеки сервера</li>
        <li>Небезпечне зберігання даних</li>
        <li>Використання незахищеного протоколу для передачі даних</li>
        <li>Відсутність процеду валілації введених даних</li>
        <li>Шифрування низького неефективного рівня</li>
        <li>Некоректна процедура автентифікації</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Доступність ІБ</li>
        <li>Цілісність ІБ</li>
        <li>Конфіденційність ІБ</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Встановлення високочастотних фільтрів на лініях звʼязку</li>
        <li>Використання екранованого кабелю та екранованих конструкцій</li>
        <li>Встановлення активних систем зашумлення</li>
        <li>Створення контрольованої зони (з використанням пасивних засобів захисту)</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
