<% unless user_signed_in? %>
  <h3 class="center mt10">Увійдіть в систему</h3>
<% end %>
<br>
<% if user_signed_in? %>
  <h3 class="center">Оберіть пункт меню</h3><br><br>
  <h4>
    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-140 p-5 text-bg-dark rounded-3">
          <h2>Внутрішні загрози</h2>
          <p>Огляд тип атак, канали витоку, причин вразливостей та методів протидії</p>
          <%= button_to "Перейти", controll_inside_path, method: :get, class: "btn btn-outline-light" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-140 p-5 text-bg-dark rounded-3">
          <h2>Класифікація загроз</h2>
          <p>Огляд характеристик за якими класифікують загрози інформаційній безпеці</p>
          <%= button_to "Перейти", controll_classification_path, method: :get, class: "btn btn-outline-light" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-140 p-5 text-bg-dark rounded-3">
          <h2>Зовнішні загрози</h2>
          <p>Огляд тип атак, канали витоку, причин вразливостей та методів протидії</p>
          <%= button_to "Перейти", controll_outside_path, method: :get, class: "btn btn-outline-light" %>
        </div>
      </div>
    </div>
    <br>
    <div class="center">
      <div class="h-50 p-5 text-bg-dark rounded-3">
        <h2>Види атак</h2>
        <p>Огляд різноманітних атак на прикладі банківської сфери</p>
        <%= button_to "Перейти", controll_attacks_path, method: :get, class: "btn btn-outline-light" %>
      </div>
    </div>
    </div><br>
  </h4>
    <hr>
<% end %>

