.no_dec {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

.black-link {
    color: black;
    text-decoration: none;
}

.button-holder {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-holder button {
    margin: 0px 10px;
}

.mt10 {
    margin-top: 10px;
}

.bottom-10 {
    position: relative;
    top: 40px;
}
